@keyframes pulsation {
    0% {
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0.5rem 1rem rgba(black, 0.3);
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
