////////////////////////////
// HEADER SECTION
.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 8rem;

    @media only screen and (max-width: $width-900) {
        gap: 1rem;
        height: auto;
        padding: 1rem 0;
    }

    &__logo {
        height: 4rem;
        padding-left: 1.5rem;
    }

    &__search-container {
        align-items: center;
        display: flex;
        justify-content: center;
        flex: 0 0 40%;

        @media only screen and (max-width: $width-900) {
            order: 1;
            flex: 1 0 100%;
        }
    }

    &__user-container {
        align-self: stretch;
        display: flex;
        justify-content: space-between;
        flex: 0 0 12%;
        cursor: pointer;

        &-name {
            align-self: stretch;
            align-items: center;
            display: flex;
            padding: 0 1.5rem 0 2rem;

            &:hover {
                background-color: $color-grey-light-3;
            }
        }
    }
}

////////////////////////////
// MAIN SECTION
.main {
    display: flex;

    @media only screen and (max-width: $width-1100) {
        display: block;
    }
}
